'.text.html':
    'Slide Markdown':
        'prefix': 'slide-markdown'
        'body': """
            <section data-markdown="${1:filename}.md"
                data-separator="^\n\n\n"
                data-separator-vertical="^\n\n"
                data-separator-notes="^Note:"
                data-charset="utf-8">
            </section>
        """
